*{
    box-sizing: border-box;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #e66465, #9198e5);
    z-index: -1; /* behind everything */
}


#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; 
    padding: 1em 0 1em 15%;
}


#main-nav ul {
    display: flex;
    gap: 1.3rem;
    list-style: none;
    padding: 1em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);  
    backdrop-filter: blur(10px);  
    border-radius: 1em;
}

#main-nav ul li a{
    color: rgba(255, 255, 255, 0.8); 
    font-weight: 500;  
    font-size: 1.1rem;
    padding: 0.5em;
    text-decoration: none;
    cursor: pointer;

}

#main-nav ul li a:hover {
    color: rgb(255, 152, 0);
}

#hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    #main-nav {
        flex-direction: column;  /* navbar vertically */
        align-items: center; /* move to the center */
        padding: 1em; 
    }
    #main-nav ul {
        flex-direction: column;   /* navbar vertically */
        gap: 10px;
        max-width: auto;      /* prevent from full strecthing */              
        display: none;            /* hide menu initally*/
        text-align: left;         /* align the text to the left */
        background: rgba(0, 0, 0, 0.8); /* Ensure visibility */
        padding: 1em;
        border-radius: 10px;

    }
    /* hamburger menu */
    #hamburger-menu {
        display: block; /* dispaly it */
        background: rgba(0, 0, 0, 0.6);
        border: none;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        padding: 10px;
        align-items: flex-start;
    }
    /* show the menu when the hamburger icon is clicked */
    #main-nav ul.show {
        display: flex;  /* show the menu when the 'show' class is added */
        align-items: flex-start;
    }
}

/* about section */

#about_main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20%;
    /* justify-content: right; */
    /* padding-right: 20em; */
    min-width: 200px;

}

#main {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 20%;
    width: 70%;
    /* justify-content: right; */
    /* padding-right: 20em; */
    min-width: 200px;

}

#main_profile {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
 
}


#about_para {
    width: 40em; 
    word-wrap: break-word; /* make sure words break properly */
    overflow-wrap: break-word; 
    text-align: left; 
    background-color: lightblue;
    
}


#profile {
    min-width: 200px; 
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: gray;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;

}

.gradient-border {
    display: flex;
    align-items: center;
    width: 160px;
    height: 160px;
    background: linear-gradient(135deg, #1fcc0f, #7873f5); /* gradient */
    border-radius: 50%;
    padding: 5px; /* thickness of border */
    display: inline-block;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

#content-section {
    padding-left: 100%;
    width: 300px;
}