*{
    box-sizing: border-box;
}

#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding: 1em 0 1em 15%;
}


#main-nav ul {
    display: flex;
    gap: 1.3rem;
    list-style: none;
    padding: 1em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);  
    backdrop-filter: blur(10px);  
    border-radius: 1em;
}

#main-nav ul li a{
    color: rgba(255, 255, 255, 0.8); 
    font-weight: 500;  
    font-size: 1.1rem;
    padding: 0.5em;
    text-decoration: none;

}

#main-nav ul li a:hover {
    color: rgb(255, 152, 0);
}

